@page "/"
@using WiseBlog.Data
@inject BlogService BlogService

<div class="container mt-4">
    <h2>Recent Posts</h2>
    <div class="row">
        @foreach (var post in BlogService.GetRecentPosts())
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Content</p>
                        <a href="/post/@post.Id" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
