<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WiseBlog</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="/about">About</NavLink>
        <NavLink class="nav-link" href="/admin/dashboard">Dashboard</NavLink>
        <NavLink class="nav-link" href="/admin/manageposts">Manage Posts</NavLink>
        <NavLink class="nav-link" href="/admin/managecategories">Manage Categories</NavLink>
        <NavLink class="nav-link" href="/account/login">Login</NavLink>
        <NavLink class="nav-link" href="/account/register">Register</NavLink>
    </nav>
</div>

